.avatar{
    width: 40px;
    border-radius: 50%;
}

.logo{
    width: 150px;
}
.img-circle{
    width: 50px;
    border-radius: 50px;
}

thead tr{
    background: #000;
    color: #fff;
}

.topbar .top-navbar .navbar-nav > .nav-item > .nav-link {
    padding-left: 15px;
    padding-right: 15px;
    font-size: 12px;
}    
.border{
    border: 1px solid #d4d3d3 !important;
    padding: 3px !important;
    border-radius: 5px !important;
}

#details{
    margin-top: 20px;
}

#date{
    color: #817f7f;
}

#body{
    margin-top: -5px;
}